* {
  box-sizing: border-box;
  color: #000F08;
}

body {
  background-color: #F4F4F6;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

section {
  width: 100%;
  max-width: 800px;
}

a {
  text-decoration: none;
  font-weight: 700;
    background-color: #E0CA3C;
    padding: 0 5px;
    color: #000F08;
}

a:hover {color: white;}

img {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: -1;
  display: none;
}

li:nth-child(2n) img {
  top: 30%;
  left: 30%;
}

li:nth-child(2n+1) img {
  top: 40%;
  left: 10%;
}

li:nth-child(3n) img {
  top: 35%;
  left: 20%;
}

a:hover + img {display: block;}

h1 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0.5em;
}

li {
    font-weight: 400;
    border: none;
}
/*
li:first-child {padding-top: 0.5em;}

li:last-child {padding-bottom: 1em;}*/
