* {
  box-sizing: border-box;
  color: #E0CA3C;
}

body {
  background-color: #000F08;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

a {text-decoration: none;}

a:hover {color: white;}

h1 {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0.5em;
}

li {
    font-weight: 400;
    border: none;
}
/*
li:first-child {padding-top: 0.5em;}

li:last-child {padding-bottom: 1em;}*/

img {
    max-width: 100%;
    display: inline-block;
}
