* {
  box-sizing: border-box;
  color: #E0CA3C;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

canvas {
	display: block;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

a {text-decoration: none;}

a:hover {color: white;}

.main {z-index: 0;}

.title {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.description {
	margin: 0;
	font-size: 0.85em;
}
	
.cell {padding-left: 0;}

.project-title {padding-left: 0;}

.project-title li {
	font-weight: 700;
    font-size: 1.25em;
    list-style: none;
}

.project-description li {
    font-weight: 400;
    font-size: 0.65em;
    border: none;
    border-left: 1px solid #E0CA3C;
    margin-left: 2em;
    padding-left: 1em;
}

.project-description li:first-child {padding-top: 0.5em;}

.project-description li:last-child {padding-bottom: 1em;}
